<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Contact</title>
</head>
<body>
<section class="getintouch">

    {% for message in messages %}
        <div {% if message.tags %}  class="{{ message.tags}}" {% endif %} role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="container modern-form">
        <div class="text-center">
            <h4 style="color: #212529;font-size: 45px;">Get in touch</h4>
        </div>
        <hr class="modern-form__hr" />
        <div class="modern-form__form-container">
            <form method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col col-contact">
                        <div class="modern-form__form-group--padding-r form-group mb-3">
                            <input class="form-control input input-tr" type="text" name="name" placeholder="First Name" required/>
                            <div class="line-box">
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-contact">
                        <div class="modern-form__form-group--padding-l form-group mb-3">
                            <input class="form-control input input-tr" name="email" type="email" placeholder="Email" required/>
                            <div class="line-box">
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-contact">
                        <div class="modern-form__form-group--padding-l form-group mb-3">
                            <input class="form-control input input-tr" name="subject" type="text" placeholder="Subject" required/>
                            <div class="line-box">
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="modern-form__form-group--padding-t form-group mb-3">
                            <textarea class="form-control input modern-form__form-control--textarea" name="message" placeholder="Message" required></textarea>
                            <div class="line-box">
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center"><button class="btn btn-primary submit-now" type="submit">Submit Now</button></div>
                </div>
            </form>
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
